<div class="container">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            
          
              <div class="s1 col-md-4 col-xs-4">
                <div>
                
                   
                      <div>İSTANBUL SHOWROOM <br>
                        <br>
                        <p>Köybasi Cad. No:94 Yeniköy / İstanbul<br>
                          T:+90 212 223 44 44 (PBX) | M:+90 530 664 82 42 <br>
                          F:+90 212 299 44 44 (PBX)</p>
                      </div>
                    
                  
                </div>
              </div>
              
              <div class="s1 col-md-4 col-xs-4">İZMİR SHOWROOM <br>
                <br>
                <p>Folkart Towers A Blok No:37 Bayraklı / İzmir<br>
                  T:+90 232 502 13 10 - 11 | M:+90 546 641 88 55 <br>
                  F:+90 232 502 13 09</p>
              </div>
              <div class="s1 col-md-4 col-xs-4">İSTANBUL SERVİS MERKEZİ <br>
                <br>
                <p>Maslak Mh., Ahi Evran Cd., Atacenter İş Merkezi , No: 9, Maslak / Sarıyer<br>
                  T:+90 212 276 06 16 <br>
                  F:+90 212 276 06 17</p>
              </div>
              
              
          </div>
        </div>
        </div>