<div id="basla">
        <app-header></app-header>
        <app-menu></app-menu>
       
       <div class="container">
            <div class="row">
              <div class="col-md-12">
                  <div class="onecikan">
                      <div class="araclar">
                      <div class="oneyazi">SPOR ARAÇLAR</div>
                      
                      <div class="arabatablo col-md-12" >
                         
                          <div (click)="onSelect(item)" *ngFor="let item of sporarac">
                             
                            <div class="agenel {{ item.id}} col-md-12">
                                <div class="aresim "><img src="{{ item.img }}" class="akucuk"></div><div class="aresimyazi">{{item.title}}<br><br>{{item.info}}</div>
                                
                            </div>
                       
                      </div>
                      
                      </div>
                    
                      </div>
                      </div>
              </div>
            </div>
          </div> 
      
</div>



<app-footer></app-footer>
