<div id="basla">
    <app-header></app-header>

  <app-menu></app-menu>



  <div class="container">
    <div class="row">
      <div class="col-md-12 beyaz">

        <h3>BİZE ULAŞIN</h3>
        <p>Sorularınız, görüşleriniz ve önerileriniz için bize ulaşabilirsiniz.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="onecikan">
          <div class="araclar2">

            <div class="galeriyazi col-md-12 col-xs-12">
              <div class="adresm col-md-6 col-xs-12">
                <h3 ><b>YENİKÖY</b> SHOWROOM</h3>
                <p>Köybasi Cad. No:94 Yeniköy / İstanbul<br>
                  T:+90 212 223 44 44 (PBX) | M:+90 530 664 82 42 <br>
                  F:+90 212 299 44 44 (PBX) <br>
                  E-mail: info@yenikoymotors.com</p>
              </div>
              <div class="galeriyazisi col-md-6"><br>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.6312690899554!2d29.067251415881234!3d41.12074337928969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cacaf4cb9c1eb1%3A0x2e32d025888cc3f7!2zWWVuaWvDtnkgTWFoYWxsZXNpLCBLw7Z5YmHFn8SxIENkLiBObzo5NCwgMzQ0NjQgU2FyxLF5ZXIvxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1494268973961"
                  width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="onecikan">
          <div class="araclar2">

              <div class="galeriyazi col-md-12 col-xs-12">
                  <div class="adresm col-md-6 col-xs-12">
                <h3><b>İZMİR</b> SHOWROOM</h3>
                <p>Folkart Towers A Blok No: 37 Bayraklı / İzmir<br>
                  T:+90 232 502 13 10 | M:+90 546 641 88 55 <br>
                  F:+90 232 502 13 09 <br>
                  E-mail: izmir@yenikoymotors.com</p>
              </div>
              <div class="galeriyazisi col-md-6"><br>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3715.622687299643!2d27.176423732811266!3d38.454083490715554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xec9adb2267265a7f!2sYenik%C3%B6y%20Motors%20%C4%B0zmir!5e0!3m2!1str!2str!4v1571959359149!5m2!1str!2str"
                  width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="onecikan">
          <div class="araclar2">

              <div class="galeriyazi col-md-12 col-xs-12">
                  <div class="adresm col-md-6 col-xs-12">
                <h3><b>KARTAL</b> SHOWROOM</h3>
                <p>Hukukçular Towers Cevizli Mh. Mustafa Kemal Cd. No: 66. D 2/3 blok, Kartal / İstanbul<br>
                  T:+90 216 344 00 12 | M:+90 533 091 88 78 <br>
                  F:+90 212 276 06 17 <br>
                  E-mail: kartal@yenikoymotors.com</p>
              </div>
              <div class="galeriyazisi col-md-6"><br>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d896.4295156310528!2d29.180518368196743!3d40.910977486662084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac4635354635b%3A0x856db28fad7af9cb!2sHukuk%C3%A7ular%20Towers!5e0!3m2!1str!2str!4v1571959458321!5m2!1str!2str"
                  width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="onecikan">
          <div class="araclar2">

              <div class="galeriyazi col-md-12 col-xs-12">
                  <div class="adresm col-md-6 col-xs-12">
                <h3><b>SERVICE</b>  CENTRE</h3>
                <p>Maslak Mh., Ahi Evran Cd., Atacenter İş Merkezi , No: 9, Maslak / Sarıyer<br>
                  T:+90 212 276 06 16 <br>
                  F:+90 212 276 06 17 <br>
                  E-mail: servis@yenikoymotors.com</p>
              </div>
              <div class="galeriyazisi col-md-6"><br>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1263.8780806453678!2d29.020452115228085!3d41.11213170851554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf4a5af288eedc13!2sAta%20Center!5e0!3m2!1str!2str!4v1571959551245!5m2!1str!2str"
                  width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="onecikan">
          <div class="araclar2">

              <div class="galeriyazi col-md-12 col-xs-12">
                  <div class="adresm col-md-6 col-xs-12">
                <h3><b>DvD</b>  SİGORTA</h3>
                <p>Maslak Mah. Dereboyu 2 Cad. Ata Center 15 H 32 Maslak / Sarıyer / İstanbul<br>
                  T:+90 212 276 01 67 <br>
                  F:+90 212 276 01 68 <br>
                  E-mail: info@dvdsigorta.com</p>
              </div>
              <div class="galeriyazisi col-md-6"><br>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1263.8780806453678!2d29.020452115228085!3d41.11213170851554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf4a5af288eedc13!2sAta%20Center!5e0!3m2!1str!2str!4v1571959551245!5m2!1str!2str"
                  width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 beyaz">
        <div class="col-md-6 sol">
          <h3><b>İLETİŞİM</b>  FORMU</h3>
        </div>
        <div class="col-md-6 sol">
          <form action="/action_page.php">
            <div class="form-group form-inline">

              <input type="text" class="form-control mb-2 mr-sm-2 col-md-5" id="usr" placeholder="Adınız Soyadınız"
                name="username">
              <input type="text" class="form-control mb-2 mr-sm-2 col-md-5" id="email2" placeholder="E Posta Adresiniz"
                name="email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control mb-2 mr-sm-2" id="usr" placeholder="Telefon Numaranız"
                name="username">

            </div>
            <div class="form-group">

              <textarea class="form-control" rows="5" placeholder="Mesajınız" id="comment"></textarea>
            </div>
            <div class="form-group">

              <button type="submit" class="btn btn-primary">Gönder</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>







</div>

<app-footer></app-footer>