<div class="menu">
        <ul>
          <li><a href="/marka">MARKALAR</a></li>
          <li><a href="/sifir">0 KM</a></li>
          <li><a href="/ikiel">2.EL</a></li>
          <li><a href="/binek">BİNEK ARAÇLAR</a></li>
          <li><a href="/arazi">ARAZİ ARAÇLARI</a></li>
          <li><a href="/spor">SPOR ARAÇLAR</a></li>
          <li><a href="/klasikarac">KLASİK ARAÇLAR</a></li>
          <li><a href="/motosiklet">MOTOSİKLETLER</a></li>
          <li><a href="/iletisim">İLETİŞİM</a></li>
        </ul>
      </div>
